.nav-options{
  display:flex;
}
.nav-main{
  display: flex;
  justify-content: flex-end;
  background: #373737;
}
.nav-btn {
  padding: 1rem;
  margin:10px 30px 10px 0px;
  float: left;
  padding: 8px 10px;
  border-left: 1px solid #373737;
  cursor: pointer;
  border-top-right-radius: 4px;
  font-weight: bold;
  border-radius: 50px;
}

.nav-btn:hover {
  color: white;
  background-color: #42545C;
}
.nav-btn.active {
  background-color: black;
}
