
:host ::ng-deep label {
  margin: .5em 0;
  color: #9fc9e7;
  font-weight: bold;
}

:host ::ng-deep .form__field {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  color: #cfd8dc;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.searches {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}