<ng-container>
    <div class="searches">
        <input [formControl]="searchControl" type="text"  class="form__field">
        <label class="post-details-label">
            חיפוש באתר
        </label>
    </div>

    <app-post [post]="post" class="post" (updatePostEvent)="updatePost($event)" (deletePostEvent)="deletePost($event)"
        *ngFor="let post of filteredPostList">
    </app-post>


    <button (click)="openDialogAdd = !openDialogAdd">הוספה</button>
    <div *ngIf="openDialogAdd">
        <form [formGroup]="postFormGroup">
            
            <label class="post-details-label">
                author:
                <input type="text" formControlName="author" class="form__field">
            </label>

            <label class="post-details-label">
                comment:
                <input type="text" formControlName="comment" class="form__field">
            </label>
            <label class="post-details-label">
                image:
                <input type="text" formControlName="image" class="form__field">
            </label>
            <label class="post-details-label">
                title:
                <input type="text" formControlName="title" class="form__field">
            </label>
            <label class="post-details-label">
                isFavorite:
                <input type="checkbox" formControlName="isFavorite">
            </label>

        </form>
        <button (click)="addPost()">שמור</button>
    </div>
</ng-container>