:host ::ng-deep button {
    font-family: Arial, sans-serif;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  :host ::ng-deep button:hover {
    background-color: #cfd8dc;
  }

  :host ::ng-deep label {
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  :host ::ng-deep .form__field {
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid grey;
    outline: 0;
    color: #cfd8dc;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }