
:host ::ng-deep label {
  margin: .5em 0;
  color: #9fc9e7;
  font-weight: bold;
}

:host ::ng-deep .form-field {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  color: #cfd8dc;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.searches {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

:host ::ng-deep button {
  font-family: Arial, sans-serif;
  /* background-color: #eee; */
  border: none;
  padding: 5px 10px;
  /* margin-bottom: 30px; */
  border-radius: 4px;
  cursor: pointer;
}
:host ::ng-deep .btn-add{
  background-color: #366c36;
  margin-right: 3px;
}