<body>
  <div class="top-row">
    <div class="main-title-frame">
      <h1 class="main-title-content">{{title}}</h1>
    </div>
  </div>
<div class="nav-main">
  <nav class="nav-options">
    <button class="nav-btn" routerLink="/post-list">חדר ראשי</button>
    <button class="nav-btn" *ngIf="!authenticationService.isLogin" routerLink="/register">הרשמה</button>
    <button class="nav-btn" *ngIf="authenticationService.isLogin" (click)="logout()">התנתקות</button>
    <button class="nav-btn" *ngIf="!authenticationService.isLogin" routerLink="/login">התחברות</button>
  </nav>
</div>
<div class="forum-frame">
    <router-outlet></router-outlet>
</div>
</body>
