<body>
  <div class="top-row">
    <div class="main-title-frame">
      <div class="main-title-content large-title">{{title}}</div>
    </div>
  </div>
  <div class="forum-page">
    <div class="nav-main">
      <nav class="nav-options">

        <button class="nav-btn" (click)="openDialogAdd = !openDialogAdd" *ngIf="!openDialogAdd && authenticationService.isLogin">
          Private room
        </button>
        <!-- <button class="nav-btn" (click)="cancelRoom()" *ngIf="openDialogAdd">
          Cancel
        </button> -->
        <div class="add-room-dialog" *ngIf="openDialogAdd">
          <form class="room-form-group">
            <label class="post-details-label small-title">
              Add users to room
              <!-- <div *ngFor="let addedUser of roomFormGroup.value.users">
                {{addedUser.firstName}} {{addedUser.lastName}}      
              </div> -->
            </label>

            <!-- <label class="post-details-label small-title">
              Add room name:
              <input type="text" formControlName="roomName" class="form-field">
            </label> -->
          </form>
          <!-- <button class="nav-btn" (click)="addRoom()">Save</button> -->
        </div>

        <button class="nav-btn" *ngFor="let room of roomList"
          [routerLink]="['/post-list', room.roomNum]">{{room.roomName}}</button>
        <button class="nav-btn" [routerLink]="['/post-list', 1]">Main room</button>
        <button class="nav-btn" *ngIf="!authenticationService.isLogin" routerLink="/register">Register</button>
        <button class="nav-btn" *ngIf="authenticationService.isLogin" (click)="logout()">Logout</button>
        <button class="nav-btn" *ngIf="!authenticationService.isLogin" routerLink="/login">Login</button>
      </nav>
    </div>
    <div class="forum-frame">
      <div class="login-list">
        <h6>{{(logInUsersList.length > 0)?'Users online':'No users online'}}</h6>
        <ul>
          <li *ngFor="let user of logInUsersList">
            <div (click)="addUserToRoom(user)">{{user.firstName}} {{user.lastName}}</div>
        </ul>
      </div>
      <div class="forum-body">
        <router-outlet class="forum-body-components"></router-outlet>
      </div>


      <form class="room-users" [formGroup]="roomFormGroup"
        *ngIf="roomFormGroup.value.users && roomFormGroup.value.users.length && authenticationService.isLogin">
        <label class="small-title">Private Room</label>
        <label class="small-title">
          Add room name:
          <input type="text" formControlName="roomName" class="form-field room-name">
        </label>
        <div class="user" *ngFor="let addedUser of roomFormGroup.value.users">
          {{addedUser.firstName}} {{addedUser.lastName}}
        </div>
        <div class="room-btn">
          <button class="btn-room-cancel btn-primary" (click)="cancelRoom()" *ngIf="openDialogAdd">
            Cancel
          </button>
          <button class="btn-room-save btn-primary" (click)="addRoom()">Save</button>
        </div>
      </form>
    </div>
  </div>

</body>
