body{
  /* background-color: coral; */
  min-height: 881px;
}
.top-row{
  background-color: yellowgreen;
}
.main-title-frame{
  display:flex;
  justify-content: center;
  font-family: fantasy;
}
.main-title-content {
  margin-bottom: 0;
}
.login-content{
  width: 18%;
}
.nav-main{
  display: flex;
  justify-content: flex-end;
  background-color: darkgoldenrod;
}

.nav-btn {
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  margin:10px 30px 10px 0px;
}

.nav-btn:hover {
  color: white;
  background-color: #42545C;
}
.nav-btn.active {
  background-color: black;
}
.forum-frame{
  display:flex;
}
.login-list{
  width: 15%;
}
.forum-body{
  width: 85%;
}