body{
  min-height: 881px;
}
.forum-page{
  background-color: darkgoldenrod;
}
.top-row{
  background-color: #141414;
}
.main-title-frame{
  display:flex;
  justify-content: center;
  font-family: fantasy;
}
.main-title-content {
  margin-bottom: 0;
  color: #dedede;
}

.forum-frame{
  display:flex;
  min-height: 100vh;
}
.online-list{
  width: 10%;
}
.forum-body{
  width: 80%;
  background-color: #141414;
  padding: 40px;
  border-radius: 0 0 45px 45px;  margin-bottom: 40px;
}
.room-users{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}
.forum-body-components{
  width: 100%;
}
.add-room-dialog{
  display:flex;
}
.room-form-group{
  display:flex;
  align-items: center;
}

:host ::ng-deep.btn-login, .btn-room-save{
  background-color: #366c36;
  margin-right: 3px;
}
:host ::ng-deep.btn-register, .btn-room-cancel{
  background-color: #1065a2;
}
.room-name{
  width: 100%;
}
/* button {
  font-family: Arial, sans-serif;
  border: none;
  padding: 5px 10px;
  margin-bottom: 30px;
  border-radius: 4px;
  cursor: pointer;
} */

/* :host ::ng-deep button:hover {
  background-color: #cfd8dc;
} */



:host ::ng-deep.login-content{
  width: 300px;
}
:host ::ng-deep .login-frame{
  display: flex;
  width: 100%;
  justify-content: center;
}
